html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    overflow-y: hidden;
}

#maindiv {
    height: 100%;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#creditholder {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
}

#credittext {
    position: absolute;
    right: 0px;
    height: 100%; 
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    color: #A6A6A6;
}